@font-face {
	font-family: "PTS";
	src: url("PTSans-Regular.ttf");
}

@font-face {
	font-family: "TI-84";
	src: url("ti-calculator-font.ttf")
}

body {
	background-image: linear-gradient(to right, #d1ffd1, #c4e9f5);
	font-family: "PTS";
}

html {
	scroll-behavior: smooth;
}

